.upside{

    background-color: navy;
    height: 80px;
}
h3{
    color: darkslategray;
}
.dd
{
    color: green;
    float: left;
    margin-left: 42%;
}
.ee{
    float: left;
    color: white;
    margin-left: 80px;
}
.top {
    margin-top:50px;
height: 100px;


}

.inside1, .inside2, .inside3{
    margin-left:4px;
    background-color: skyblue;
    width:32% ;
    height:97%;
    border: white;
    border-style: solid;
    border-width: 3px;
    float: left;
  

    
}
.line{
    border: 1px dashed black;
    margin-left:10%;
    margin-right:10%;
}

.line2{
    border: 1px dashed black;
    margin-left:10%;
    margin-right:10%;
    margin-top:50px;
}
.inside3, .inside2
{
margin-left:15px ;
}
.do{
    height: 400px;
}
p{
    margin-top:1px;
    margin-left:25px;
}
.first {
    position:absolute;
    height: 400px;
    left: 40%;
    background-color: #98D8CA;
    width: 250px;
    height: 250px;
    outline-style: solid;
    outline-color: #09FFA9;
    outline-width:15px;
    box-shadow: inset 0 0 0 15px #5873E2;
    border-style:solid;
    border-width: 10px;
    border-color: #0D1430;
    border-radius: 5px;
    padding: 25px;
    margin: 20px;
  }

.exer2{
    margin-top: 80px;
}

h3,h2,h1{
    text-align:center;
}
.down1{
    height:300px ;
    margin-top:50px;
    border: #0D1430;
    border-style: solid;
    width:80% ;
    margin-left: 10%;
}


.circle1,.circle2,.circle3,.circle4{
    margin-left:150px;
    border-color: #0D1430;
    border-width:1px;
    border-style: solid;
    margin-top:9px;
}
.circle1{
    background-color:  #98D8CA;
    border-radius: 50%;
    height:20px ;
    width:20px ;
    margin-left:600px;
    display: inline-block;

}

.circle2{
    background-color: #0D1430 ;
    border-radius: 50%;
    height:20px ;
    width:20px ;
    display: inline-block;
}

.circle3{
    background-color:  #09FFA9;
    border-radius: 50%;
    height:20px ;
    width:20px ;
    display: inline-block;
}

.circle4{
    background-color: #5873E2;
    border-radius: 50%;
    height:20px ;
    width:20px ;
    display: inline-block;
}

.downn
{  float:left;
    margin-top:2px;
    margin-left: 5px;
    background-color: skyblue;
    width: 460px ;
    height:97%;
 
   border: black ;
   border-width:2px;
   border-style: solid;

}   
.down_1,.down_2
{   

    width:470px;
    height: 97%;
    float:left;
    margin-top:2px; 
   border: black;
   border-width: 2px;
 
    border-style: solid;
    background-color: skyblue;
    margin-left: 20px;
    
    height:97%;
}
